<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
    <!-- 头部 -->
    <div class="header">
      <!-- 网站标志 -->
        <div class="logo fl">
          博客管理后台 <i>H</i>
        </div>
        <!-- /网站标志 -->
        <!-- 用户信息 -->
        <div class="info">
            <div class="profile dropdown fr">
                <span class="btn dropdown-toggle" data-toggle="dropdown">
                  {{userInfo.username}}
                  <span class="caret"></span>
                </span>
                <ul class="dropdown-menu">
                    <li><a href="user-edit.html">个人资料</a></li>
                    <li><a href="/admin/logout">退出登录</a></li>
                </ul>
            </div>
        </div>
        <!-- /用户信息 -->
    </div>
    <!-- /头部 -->
	</body>
</html>
