<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <title>刘广海的个人博客</title>
  <meta name="Keywords" content="个人博客，个人网站，刘广海的个人博客，刘广海的个人网站，刘广海，内容分享，技术，学习，教程，技术分享，学习交流"/>
  <meta name="Description" content="刘广海的个人博客，是一个菜鸟码农个人网站，一个幻想可以成为一个技术大佬，通过秃头改变世界的码农，分享生活经验、学习经验和工作经验,希望在帮助更多人的同时可以共同进步"/>
  <meta itemprop="name" content="刘广海的个人博客，是一个菜鸟码农个人网站，一个幻想可以成为一个技术大佬，通过秃头改变世界的码农，分享生活经验、学习经验和工作经验,希望在帮助更多人的同时可以共同进步"/>
  <link rel="shortcut icon" href="/icon.png">
  <link rel="stylesheet" type="text/css" href="/home/bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/home/iconfont/iconfont.css">
  {{block 'link'}}{{/block}}
</head>
<body>
  {{block 'main'}}{{/block}}
  {{block 'script'}}{{/block}}
</body>
</html>